<%# Content Heading %>
 <% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>



<p>Use the links below to manage the vehicle inventory</p>
<ul class="management">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<h2 class="pleaseSelect">Manage Inventory</h2>
<p class="pleaseSelect">Please select a Classification from the list. </p>


<select class="selection" name="classification_id" id="classification_id" required>
    <%- classificationSelect %>    
</select>

<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enable to use this page.</noscript>

<script src="../../js/inventory.js"></script>