<%# Content Heading %>
 <% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>



<p>Use the links below to manage the vehicle inventory</p>
<ul class="management">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>